body {
	background-color: #511F63;
	display: block;
	margin: auto;
	width: 60%;
}

p {
    color: #ececec;
    font-size: 5em;
    margin-top: 3em;
    text-align: center;
    font-family: Arial;
}

.text {
	text-align: center;
}